@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_LayoutChameleonAdmin.cshtml";
}

@section StyleSection
{
    <style>
        .text-wrap{
            white-space:normal;
        }
        .width-200{
            width:50%;
        }
    </style>
}

<section id="icon-tabs1">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row" id="userDetails">
                        <div class="col-6"><h4 class="card-title">User Details</h4></div>
                    </div>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <table id="basicinfo" class="table  table-bordered table-hover" style="width:100%;">
                            <colgroup>
                                <col class="info"></col>
                                <col class="success"></col>
                            </colgroup>
                            <tbody>

                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td id="name">
                                        
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Username
                                    </td>
                                    <td id="username">
                                        
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Email
                                    </td>
                                    <td id="email">
                                    </td>

                                </tr>
                                <tr>

                                    <td>
                                        Address
                                    </td>
                                    <td id="address" style="white-space:normal !important">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Phone
                                    </td>
                                    <td id="phone">
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        Website
                                    </td>
                                    <td id="website">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td id="company">

                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>




                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="icon-tabs2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row" id="userPostList">
                        <div class="col-6"><h4 class="card-title">User Posts</h4></div>
                    </div>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <table id="postTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Title</th>
                                    <th>Body</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<input type="hidden" id="hdUserId" name="hdUserId" value="@ViewBag.UserId" />





@section ScriptSection
{
    <script src="~/js/app/post.js"></script>
}